<div>
  <div class="monthYearMenu">
    <button (click)="previousMonth()" class="nextMonth"> < </button>
    <h3> {{month}}</h3>
    <h3> {{ Presentyear }} </h3>
    <button (click)="nextMonth()" class="nextMonth"> > </button>
  </div>
  <div>
   <tbody>
     <tr>
      <th *ngFor="let day of days">
        <div>{{day}}&nbsp;</div>
      </th>
     </tr>
     <tr *ngFor="let row of calendar">
      <th class="" *ngFor="let c of row">
        <div (click)="updateDate(c)" [ngStyle]="{'background': isselected(c) ? 'red' : 'none'}" [attr.data-month] = "month" [attr.data-day]="c" [attr.data-year]="Presentyear">{{c}} &nbsp;</div>
      </th>
     </tr>
   </tbody>
  </div>
  <div>
    <h1>{{selectedDate}}</h1>
  </div>
</div>
<router-outlet></router-outlet>
